<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <span class="logo">Pabloepxert Blog</span>
        <nav>
            <a href="/">Home</a>
            <a href="/articles">Articles</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>Other info</footer>
</body>
</html>
