<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<header>
    <span class="logo">Pabloepxert Blog</span>
    <nav>
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
    </nav>
</header>