@{
    ViewData["Title"] = "Home Page";
}

<h1>Home Page</h1>

<p>
    «Horizon Запре́тный За́пад: Пыла́ющие берега́») 
    — дополнение к компьютерной игре Horizon Forbidden West,
    разработанное нидерландской студией Guerrilla Games и изданное Sony Interactive Entertainment
    для игровых приставок PlayStation 5 в 2023 году. Дополнение вошло
    в расширенное издание игры Horizon Forbidden West Complete Edition,
    которое было портировано на Windows и вышло в 2024 году на ПК.
    Проект добавляет в оригинальную 
    Horizon Forbidden West новую локацию — постапокалиптический Лос-Анджелес с новыми персонажами,
    квестами, занятиями и видами роботов.
    Пользователю доступны новое оружие, броня, навыки и механики игрового процесса.
    Дополнение продолжает сюжетную линию 
    оригинальной игры: главная героиня — молодая девушка Элой — отправляется в Лос-Анджелес,
    чтобы остановить сбежавшего «зенита» — сверхтехнологичного человека по имени Уолтер Лондра,
    который не был побеждён во время битвы команды Элой против остальных «зенитов» в 
    оригинальной Horizon Forbidden West. В Лос-Анджелесе Элой встречает Сейку — другую молодую девушку,
    которая разыскивает своих людей, попавших в беду. Элой и Сейка становятся дружной командой
    и совместно борются против Лондры, по мере достижения своих целей всё больше сближаясь друг с другом.
</p>